<nb-layout>

  <nb-layout-header fixed>

    <div class="header-container">
      <app-select
        [url]='"/api/brands"'
        [itemSelected]="brand"
        (itemSelectedChange)="onBrandSelected($event)"
        [placeholder]='"Select Brand"'
        [disabled]="loadingGames"
      ></app-select>
      <app-select
        [url]='"/api/countries"'
        [itemSelected]="country"
        (itemSelectedChange)="onCountrySelected($event)"
        [placeholder]='"Select Country"'
        [disabled]="loadingGames"
      ></app-select>
      <app-select
        [url]='"/api/categories"'
        [itemSelected]="category"
        (itemSelectedChange)="onCategorySelected($event)"
        [clearable]="true"
        [placeholder]='"Select Category"'
        [selectFirst]='false'
        [disabled]="loadingGames"
      ></app-select>
    </div>

  </nb-layout-header>

  <nb-layout-column [nbSpinner]="loadingGames">

    <div
      #itemsList
      class="row"
      *ngIf="games.length > 0; else noGamesTemplate"
      infiniteScroll
      [fromRoot]="true"
      [infiniteScrollDisabled]="noMoreGamesAvailable"
      (scrolled)="fetchMoreGames(false)"
    >
      <div
        class="item"
        *ngFor="let item of games"
        (click)="onClickGame(item)"
      >
        <nb-card>
          <nb-card-header>
            <div class="item-header">
              {{ item.name }}
            </div>
          </nb-card-header>
          <nb-card-body class="item-body">
            <img
              class="item-img"
              [src]="errorImages[item.launchcode] || imgSource(item)"
              [alt]="item.name"
              loading="lazy"
              (error)="onImgError(item)"
            >
          </nb-card-body>
        </nb-card>
      </div>
    </div>


    <div class="list-footer">
      <button
        nbButton
        status="primary"
        [disabled]="!brand || !country || loadingGames || games.length === 0"
        (click)="fetchMoreGames(true)"
      >Load More</button>
    </div>

  </nb-layout-column>

  <nb-layout-footer fixed>
    Alberto Sanchez Gonzalez @ White Hat Gaming Full Stack Technical Test
  </nb-layout-footer>

</nb-layout>

<ng-template #noGamesTemplate>
  <div *ngIf="!loadingGames" class="row centered">No games found for combination selected.</div>
</ng-template>
