.header-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: -15px;
  .item {
    margin: 15px;
    cursor: pointer;
    .item-header {
      width: 212px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item-body {
      --card-padding: 0px;
      .item-img {
        display: block;
        object-fit: cover;
        width: 260px;
        height: 164px;
      }
    }
  }
}

.list-footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
